html{
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
header{
    position: fixed;
    width: 100%;
}
.inner-header{
    width: 1600px;
    margin: 0 auto;
}
header .inner-header{
    display: flex;
    justify-content: space-between;
}
.logo{
    line-height: 0;
}
.gnb{
    display: flex;
    gap: 3.3rem;
}
.gnb>li{
    font-weight: 600;
    font-size: .9rem;
    line-height: 100%;
    text-transform: uppercase;
    overflow: hidden;
    max-height: 100px;
    transition: all .3s ease 0s;
    background-color: #fff;
}
.gnb>li:hover{
    max-height: 266px;
}
.gnb>li>a{
    display: flex;
    align-items: center;
    height: 100px;
}
.gnb ul>li{
    font-weight: 400;
    font-size: .8rem;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 1rem;
}
.box{
    height: 100px;
}
.banner{
    height: 800px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-size: 7rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}