img{
    max-width: 100%;
}
.popup{
    position: fixed;
    left: 200px;
    top: 200px;
    border: 1px solid red;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 20px black;
}
.popup-controller{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.popup-controller span{
    cursor: pointer;
    padding: .4rem 1rem;
    border: 1px solid #000;
}
.popup{
    /* transition: all .4s ease 0s;
    opacity: 1;
    pointer-events: auto; */
}
.popup.hide{
    display: none;
    /* opacity: 0;
    pointer-events: none; */
    /* 태그가 마우스에도 반응하지 않게 함 */
}