html{
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.inner-header{
    width: 1600px;
    margin: 0 auto;
}
header .inner-header{
    display: flex;
    justify-content: space-between;
}
.logo{
    line-height: 0;
}
.gnb{
    display: flex;
}
.gnb li{
}
.gnb li a{
    display: flex;
    height: 100%;
    align-items: center;
    font-family: Pretendard;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1rem;
}
.banner{
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1{
    font-size: 7.5rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}