html{
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.stp1{
    font-family: "abo";
    font-weight: 400; 
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #BE0707;
    padding: 0 8rem;
    width: 1600px;
    gap: 1rem;
}
header ul{
    display: flex;
}
header ul li{
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 1.9rem 1rem;
}
.banner{
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-size: 7.5rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}