html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard';
}
body{
    background: url(../img/bg.png) no-repeat 50% 0% ;
}
.wrap{
    width: 1600px;
    margin: 0 auto;
    padding: 6rem 0;
}
.banner{
    height: 599px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    margin-bottom: 6rem;
}
.banner h1{
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
}
.content h2{
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
}
.desc1{
    line-height: 140%;
    text-transform: uppercase;
    margin: 2.4rem 0;
}
.gal{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.gal figure{
    flex: 1;
    aspect-ratio: 520/434;
}
.gal figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.content h3{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    margin-bottom: 1rem;
}
.desc2{
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.type2 figure{
    flex: 1;
    aspect-ratio: 790/434;
}