@media (max-width:768px){
    html{
        font-size: var(--base-mo);
    }
    body {
    background: url(../img/BACKGROUND.png) repeat-x 0 35%;
    }
    .content {
    width: auto;
    margin: 0 1rem;
    }
    .content h2 {
    font-size: 50px;
    background: url(../img/Vector\ 1.svg) no-repeat 50% -140%;
    }
    .gal {
    flex-direction: column;
    }
    .gal figure {
    aspect-ratio: 365/200;
    height: 200px;
    }
}