@media (max-width:1920px){
    html{
        font-family: 'Pretendard';
        font-size: var(--base-pc);
        font-weight: 400;
    }
    body{
        background: url(../img/BACKGROUND.png) repeat-x 0 56%;
    }
    .stp1{
        font-family: "abo";
        font-weight: 400;
    }
    .banner {
        height: 599px;
        background: url(../img/banner.png) no-repeat 50% 75% / cover;
        border-radius: 0 0 7.5rem 7.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner h1{
        font-size: 50px;
        line-height: 100%;
        text-transform: uppercase;
        color: #fff;
    }
    .content{
        width: 1600px;
        margin: 0 auto;
    }
    .content h2{
        font-size: 7.5rem;
        line-height: 90%;
        text-align: center;
        text-transform: uppercase;
        background: url(../img/Vector\ 1.svg) no-repeat 50% 0;
        padding-top: 10rem;
        margin-bottom: 2rem;
    }
    .desc1{
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
    }
    .pt1{
        color: #770000;
    }
    .gal{
        margin: 5rem 0 1rem;
        display: flex;
        gap: 1rem;
    }
    .gal figure{
        flex: 1;
        aspect-ratio: 790/434;
        line-height: 0;
    }
    .gal figure img{
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
    }
    .content h3{
        font-size: 2rem;
        line-height: 140%;
        margin-bottom: 1rem;
    }
    .desc2{
        line-height: 140%;
        text-transform: lowercase;
        margin-bottom: .5rem;
    }
    .content p b{
        font-weight: 700;
        line-height: 140%;
        text-transform: capitalize;
    }
}