@media (max-width:1024px){
    html{
        font-family: 'Pretendard';
        font-size: var(--base-pad);
        font-weight: 400;
    }
    .common-frame {
        width: auto;
        margin: 0 2rem;
    }
    .common-frame h2 {
        font-size: 3.333rem;
    }
    .common-frame .desc1 {
        padding: 20px 0;
        margin-bottom: 60px;
    }
    .common-frame figure img {
        margin-bottom: 20px;
        width: 100%;
        height: 350px;
    }
}