html{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 400;
}
.titlebox{
    width: 1600px;
    margin: 0 auto 5rem;
}
.titlebox h1{
    padding-top: 8rem;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}
.desc1{
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
}
.banner{
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.banner h2{
    width: 1600px;
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    color: #fff;
}
.menu{
    width: 1604px;
    margin: 0 auto;
}
.menu h3{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    margin-bottom: 1rem;
}
.desc2{
    line-height: 140%;
    text-align: center;
    margin-bottom: 3.5rem;
}
.gal ul{
    display: flex;
    gap: 1rem;
}
.gal li{
    flex: 1;
}
.gal figure{
    aspect-ratio: 520 / 520;
    line-height: 0;
}
.gal img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    margin-bottom: 1rem;
}
.gal h4{
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.gal p{
    line-height: 140%;
    display: -webkit-box;          /* 플렉스형 박스(옛 사양) */
    -webkit-box-orient: vertical;  /* 세로 방향 줄바꿈 기준 */
    -webkit-line-clamp: 2;         /* 보여줄 최대 줄 수 */
    overflow: hidden;              /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis;       /* 말줄임 표기(보조) */
}
.gal li:nth-of-type(2) p{
    word-break: break-all;
}