:root{
    --base-wide:22px;
    --base-pc:20px;
    --base-pad:18px;
    --base-mo:14px;
}

html{
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
}
.common-frame{
    width: 1600px;
    margin: 0 auto;
}
.title-box h1{
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 8rem;
    margin-bottom: 1rem;
}
.desc1{
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem;
}
.banner{
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.banner h2{
    width: 1600px;
    margin: 0 auto;
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    color: #fff;
}
.content h3{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    margin-bottom: 1rem;
}
.desc2{
    line-height: 140%;
    text-align: center;
    margin-bottom: 3.5rem;
}
.gal ul{
    display: flex;
    gap: 1rem;
}
.gal ul>li{
    flex: 1;
}
.gal ul>li>figure{
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
}
.gal ul>li>figure>img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
.gal h4{
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
.gal p{
    /* 외우지 말고 복사해서 쓸 것 */
    display: -webkit-box;                 /* 플렉스형 박스 (옛 사양) */
    -webkit-box-orient: vertical;         /* 세로 방향 줄바꿈 기준*/
    -webkit-line-clamp: 2;                /* 보여줄 최대 줄 수 */
    overflow: hidden;                     /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis;              /* 말줄임 표기 (보조) */
}
@media (max-width:5120px){

}
@media (max-width:3840px){
    html{
        font-size: var(--base-wide);
    }
}
@media (max-width:1920px){
    html{
        font-size: var(--base-pc);
    }
}
@media (max-width:1600px){
    .common-frame {
        width: auto;
        margin: 0 2rem;
    }
}
@media (max-width:1024px){
    html{
        font-size: var(--base-pad);
    }
    .banner {
        height: 600px;
    }
    .banner h2 {
        width: auto;
        margin: 0 2rem;
        font-size: 4.4rem;
    }
}
@media (max-width:768px){
    html{
        font-size: var(--base-mo);
    }
    .common-frame {
        width: auto;
        margin: 0 1rem;
    }
    .banner {
        height: 500px;
        justify-content: center;
        align-items: center;
    }
    .banner h2 {
        width: auto;
        margin: 0 1rem;
        font-size: 3.5rem;
        text-align: center;
    }
    .gal ul {
        flex-direction: column;
        gap: 2rem;
    }
}