.outter{
    background: skyblue;
    height: 700px;
    position: relative;
}
.box{
    background: pink;
    width: 500px;
    height: 500px;
}
.a{
    position: absolute;
    right: 100px;
    bottom: 100px;
    background: green;
    z-index: 1;
}
.b{
    background: blueviolet;
    /* position: absolute; */
    right: 80px;
    bottom: 100px;
    z-index: 1;
}